.header{
	position: relative;
	z-index: 10;
	display: flex;
	padding-top: 30px;
	justify-content: space-between;
}

.logo{

	&__img{
		width: 265px;

		@include tablets{
			width: 225px;
		}
	}
}

.contacts{
	display: flex;
	max-height: 55px;

	@include tablets{
		max-height: 48px;
	}

	&__col{
		margin-left: 100px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;

		&--address{

			@include tablets{
				display: none;
			}
		}
	}
	
	&__text{
		color: $white;
		text-decoration: none;
		font-family: 'Myriad', sans-serif;
		font-size: 18px;

		@include tablets{
			font-size: 15px;
		}

		&--tel{
			font-size: 25px;

			@include tablets{
				font-size: 20px;
			}
		}

		&--mail{
			text-decoration: underline;
		}
	}
}

.arrow{
    position: absolute;
    bottom: 5%;
    left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;
	display: block;
	cursor: pointer;
}

.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
	animation: animate 2s infinite;
}

.arrow span:nth-child(2){
    animation-delay: -0.2s;
}

.arrow span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}