.hero{
	position: relative;
	background: #131118;

	@include tablets{
		background: #0e0d10;
		display: flex;
		flex-direction: column;
		padding-bottom: 115px;
	}

	&__img{
		display: none;

		@include tablets{
			display: block;
			width: 100%;
			margin: auto;
		}
	}
}

.pagination {
	position:fixed;
	left:50px;
	top: 50%;
  transform: translateY(-50%);

	font-size:1.4em;
	z-index: 10;
}
.pagination a {
	display:block;
	height:25px;
	margin-bottom:10px;
	color:$gray;
	position:relative;
	padding:4px;

	&.active{
		color: #00a2ff;
	}
}
.pagination a.active:after {
	box-shadow:inset 0 0 0 4px #00a2ff;
}
.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.pagination a:hover .hover-text {
	opacity: 1;
}
.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:15px;
	height:15px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}