$notebook: 970px;
$tablets: 768px;
$phones: 500px;

@import "var.scss";
@import "media.scss";
@import "fonts.scss";
@import "adjust.scss";
@import "video.scss";

@import "header.scss";

@import "hero.scss";
@import "spare.scss";
@import "about.scss";
@import "map.scss";
@import "modal.scss";