$white: #ffffff;
$black: #000000;
$lightgray: #d5d5d5;
$gray: #757575;
$brown: #36322e;

$blue-text: #22729c;
$blue-background: rgb(11,100,146);
$blue-background-rgba: linear-gradient(270deg, rgba(11,100,146,1) 0%, rgba(43,166,201,0.8) 100%);

$green-text: #469e2e;
$green-background: rgb(51,149,25);
$green-background-rgba: linear-gradient(270deg, rgba(51,149,25,1) 0%, rgba(132,174,30,0.8) 100%);

$violet-text: #3c2280;
$violet-background: rgb(41,13,114);
$violet-background-rgba: linear-gradient(270deg, rgba(41,13,114,1) 0%, rgba(138,46,183,0.8) 100%);

$darkblue-text: #333894;
$darkblue-background: rgb(30,32,135);
$darkblue-background-rgba: linear-gradient(270deg, rgba(30,32,135,1) 0%, rgba(46,110,183,0.8) 100%);

$red-text: #a83324;
$red-background: rgb(160,30,13);
$red-background-rgba: linear-gradient(270deg, rgba(160,30,13,1) 0%, rgba(206,91,7,0.8) 100%);

$green2-text: #199f6b;
$green2-background: rgb(1,150,92);
$green2-background-rgba: linear-gradient(270deg, rgba(1,150,92,1) 0%, rgba(82,195,67,0.8) 100%);

$blue2-text: #3f95a5;
$blue2-background: rgb(43,95,139);
$blue2-background-rgba: linear-gradient(270deg, rgba(43,95,139,1) 0%, rgba(63,149,165,0.8) 100%);

$slider-background: rgb(23,55,108);
$slider-background-rgba: radial-gradient(circle, rgba(23,55,108,1) 0%, rgba(6,25,55,1) 100%);